div {
    box-sizing: border-box;
}

body {
    margin: 0%;
}
.C_back{
    width: 1500px;
    width: 1500px;
    margin: 0px auto;
}
.C_name{
    width: 1000px;
    height: 1000px;
    /* background-color: antiquewhite; */
    margin-left: 50px;
    float: left;
}
.C_name h4{
    margin: 0px;
}
.C_my{
    width: 200px;
    height: 50px;
    border: 1px solid #e5e5e5;
    background-color: whitesmoke;
    text-align: center;
    float: left;
}
.C_my p{
    margin: 0px;
    margin-top: 10px;
}
.C_Y_N{
    width: 800px;
    height: 50px;
    border: 1px solid #e5e5e5;
    float: left;
}
.C_Y_N input{
    margin-top: 15px;
}
.C_Save{
    width: 1000px;
    height: 50px;
    border: 1px solid #e5e5e5;
    float: left;
    text-align: center;
    justify-content: center;
}