div {
    box-sizing: border-box;
}

body {
    margin: 0%;
}

.M_b_back{
    width: 1500px;
    height: 2000px;
    /* background-color: antiquewhite; */
    margin: 0px auto;
}
.M_B_Name{
    width: 1100px;
    height: 1000px;
    /* background-color: azure; */
    float: left;
    margin-left: 50px;
}
.M_B_Name p{
    width: 1000px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0px;
}
/* managerB.css 파일 맨 아래에 이 코드를 추가하세요 */

#header-container *,
#admin-menu-container * {
    font-size: revert;
    font-weight: revert;
    color: revert;
}