div {
    box-sizing: border-box;
}
body {
    margin: 0%;
}
.NB_E_Back{
    width: 1500px;
    height: 2000px;
    margin: 0px auto;
}
.NB_E_Name{
    width: 1000px;
    height: 600px;
    /* background-color: antiquewhite; */
    float: left;
    margin-left: 50px;
    margin-bottom: 60px;
}
.NB_E_Name h4{
    margin: 0px;
    font-size: 20px;
    margin-bottom: 30px;
}
.NB_E_C_back{
    width: 650px;
    height: 50px;
    float: left;
}
.NB_E_E{
    margin-top: 30px;
}
.NB_E_Setting{
    width: 350px;
    height: 50px;
    float: left;
    display: flex;
    text-align: right;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.list-group, .list-group-horizontal{
    width: 1000px;
    height: 40px;
    border: 1px solid #e5e5e5;
    float: left;
    border-radius: 0px !important;
}
.list-group-item{
    border-radius: 0px !important;
}
.back .list-group-item {
    background-color: #f0f0f0;
    /* 원하는 색상으로 변경 */

    /* 배경색에 맞춰 테두리색도 바꿔주는 것이 좋습니다. 
      (안 그러면 하얀색 테두리가 남을 수 있음)
    */
}
.one{
    width: 100px;
    height: 40px;
}
.two{
    width: 150px;
    height: 40px;
}
.three{
    width: 300px;
    height: 40px;    
}
.four{
    width: 200px;
    height: 40px; 
}
.DS_b button{
    background: none;
    border: 0px;
}
#header-container *,
#admin-menuTwo-container * {
    font-size: revert;
    font-weight: revert;
    color: revert;
}
.NB_E_U{
    width: 1000px;
    height: 100px;
    border: 1px solid #e5e5e5;
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.NB_E_U p{
    border: 1px solid black;
    padding: 5px 10px;
}
.NB_E_B{
    width: 1000px;
    height: 200px;
    /* border: 1px solid #e5e5e5; */
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.NB_E_B button{
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.NB_B_reference{
    width: 1000px;
    height: 30px;
    border-bottom: 1px solid black;
    float: left;
}
.NB_B_referenceOne p{
    margin: 0px;
}
.write_back{
    width: 1000px;
    height: 1000px;
    float: left;
    margin-left: 50px;
}