div {
    box-sizing: border-box;
}
body {
    margin: 0%;
}
.AMSBack{
    width: 1500px;
    height: 2000px;
    margin: 0px auto;
}
.AMSName{
    width: 1050px;
    /* 950px에서 1050px로 늘리기 */
    height: 1800px;
    /* background-color: antiquewhite; */
    float: left;
    margin-left: 50px;
    margin-bottom: 60px;
}
.AMSName h3{
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;

    margin: 0px;
    /* ▼▼▼ 요청사항 적용 ▼▼▼ */
    width: 950px;
    /* 테이블과 너비 맞춤 */
    box-sizing: border-box;
    /* 패딩, 테두리를 너비에 포함 */
}   
.AMSsub{
    width: 1050px;
    /* 1100px에서 1050px (또는 100%)로 수정 */
    height: 100px;
    margin: 0px auto;
    border: 1px solid gainsboro;
}
.AMSsub p{
    font-size: 13px;
    margin: 1px;
    margin-left: 30px;
}
.AMSsub h4{
    font-size: 15px;
    margin: 5px;
    margin-left: 30px;
}
.TYEmail{
    width: 500px;
    height: 40px;
    margin-top: 30px;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
}
.TYEmail h4 {
    margin: 0;
    /* text-align: center; <- 이 줄을 삭제하거나 text-align: left; 로 변경 */

    /* ▼▼▼ 이 3줄을 추가하세요 ▼▼▼ */
    display: flex;
    align-items: center;
    /* 글씨를 세로로 중간 정렬 */

    /* h4 태그 자체의 높이값이 있어야 세로 정렬이 됩니다 (예: 40px) */
    height: 38px;
}
.TYEmailbox{
    width: 500px;
    height: 250px;
    border: 1px solid gainsboro;

    /* (참고) flexbox를 쓰면 더 쉽게 중앙 정렬 가능합니다 */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
textarea {
    width: 400px;
    height: 150px;
    resize: none;
    margin-bottom: 30px;
}
.TYEmailboxButton{
    position: absolute;
    bottom: 30px;
    
    display: flex;
    gap: 20px; /* 버튼 사이 간격 */
}
.TYEmailboxButton button{
    border-radius: 5px;
    border: 0px;
}
.TYEmailboxButton button:hover {
    background-color: gainsboro;
}
#correction :hover{
    background-color: #000;
    color: white;
}
.email-container {
    display: flex;
    flex-wrap: wrap;
    /* 자리가 없으면 다음 줄로 */
    gap: 20px;
    /* 아이템 사이의 간격 */
    float: left;
}
.email-containerOne{
    display: flex;
    flex-wrap: wrap;
    /* 자리가 없으면 다음 줄로 */
    gap: 20px;
    /* 아이템 사이의 간격 */
    float: left;
    margin-top: 250px;
}