div {
    box-sizing: border-box;
}
body {
    margin: 0%;
}
.ACBack{
    width: 1500px;
    height: 1000px;
    margin: 0px auto;
}
.ACName{
    width: 1000px;
    height: 1000px;
    float: left;
    margin-left: 30px;
}
.ACNameOne{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.AC_T {
    width: 1000px;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

/* 그 테이블 안의 셀(th, td)에 적용 */
.AC_T th,
.AC_T td {
    height: 50px;
    border: 1px solid #e0e0e0;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}
.column th{
    background-color: #f0f0f0;
}
.AC_T_one{
    width: 100px;
    height: 40px;
    float: left;
}
.AC_T_twe{
    width: 130px;
    height: 40px;
    float: left;
}
.AC_T_Three{
    width: 300px;
    height: 40px;
    float: left;
}
.AC_T_four{
    width: 170px;
    height: 40px;
    float: left;
}
.AC_T_N{
    width: 1000px;
    height: 80px;
    float: left;
    border: 1px solid #f0f0f0;
    display: flex;
    justify-content: center;
}
.AC_T_NOne{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AC_T_Save{
    width: 1000px;
    height: 60px;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}
.AC_T_Save button{
    width: 50px;
    margin-top: 30px;
    border-radius: 30px;
}