div {
    box-sizing: border-box;
}
body {
    margin: 0%;
}
.P_back{
    width: 1500px;
    height: 2000px;
    margin: 0px auto;
}
.ma_in{
    width: 950px;
    height: 600px;
    /* background-color: antiquewhite; */
    float: left;
    margin-left: 50px;
    margin-bottom: 60px;
}
h3{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0px;
    /* ▼▼▼ 요청사항 적용 ▼▼▼ */
    width: 950px;
    /* 테이블과 너비 맞춤 */
    box-sizing: border-box;
    /* 패딩, 테두리를 너비에 포함 */

}

/* 테이블 전체 스타일 */
.info-table {
    /* ▼▼▼ 요청사항 적용 ▼▼▼ */
    width: 950px;
    /* 100%에서 950px로 변경 */

    border-collapse: collapse;
    /* 테두리 한 줄로 합치기 */
    border-top: 2px solid #b5b5b5;
    /* 위쪽 굵은 테두리 */
    background-color: #fff;
}

/* 테이블의 모든 칸(th, td) 공통 스타일 */
.info-table th,
.info-table td {
    border: 1px solid #e5e5e5;
    /* 얇은 회색 테두리 */
    vertical-align: middle;

    /* ▼▼▼ 요청사항 적용 ▼▼▼ */
    height: 40px;
    /* 모든 칸의 높이를 40px로 고정 */
    padding: 0 12px;
    /* 상하 패딩을 0으로, 좌우 패딩은 유지 */
}

/* 테이블의 제목 칸 (왼쪽, 회색 배경) */
.info-table th {
    background-color: #f7f7f7;
    text-align: left;
    font-weight: bold;
    width: 160px;
    /* 제목 칸 너비 고정 */
}

/* 테이블의 내용 칸 (오른쪽, 흰색 배경) */
.info-table td {
    text-align: left;
}

/* 입력창 흉내 (참고) */
.info-table td input[type="text"] {
    width: 250px;
    padding: 4px;
    border: 1px solid #ccc;

    /* ▼▼▼ 셀 높이에 맞춰 입력창 높이 조절 ▼▼▼ */
    height: 30px;
    /* 셀 높이(40px)보다 작게 설정 */
    box-sizing: border-box;
    /* 패딩, 테두리를 높이에 포함 */
}
.P_save{
    width: 950px;
    height: 50px;
    border: 1px solid gainsboro;
    text-align: center;
}